<h1>Ask a Question</h1>

<form action="/questions/ask" method="POST" enctype="multipart/form-data" class="mb-4">
  <textarea name="text" required class="form-control mb-2"></textarea>
  <input type="file" name="media" class="form-control mb-3">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
